ion-header{
  ion-toolbar {
    --min-height: 70px;
    ion-title {
      img {
        vertical-align: middle;
        width:100px;
      }
    }
  }
}

ion-content {
  justify-content: center;
  ion-list {
    border-radius: 10px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    ion-button {
      height: 50px;
    }
  }
}

.valor-corrigido {
  display: flex;
  height: 100px;
  width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: #00988d;
  border-radius: 10px;
}
